@using BlazorDelta.Abstractions
@using BlazorDelta.Attributes
@using BlazorDelta.Sample.Components.Enums

@inherits DeltaComponentBase

<button  class="@_btnClass" type="@_btnType" @onclick="OnClick">
	@if (ChildContent is null)
	{

		<span>
			@Text
		</span>
		@if (!string.IsNullOrEmpty(Icon))
		{
			<span class="icon">
				@Icon
			</span>
		}
	}
	else
	{
		@ChildContent
	}
</button>


